<div class="container my-5">
  <h1 class="mb-3">Employee</h1>
  <table class="table table-bordered" *ngIf="employees && employees.length">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Salary</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.description }}</td>
        <td><a [routerLink]="['/editemployee','edit', employee.id]" class="btn btn-primary m-2 " > View </a></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!employees || !employees.length">No Employee found</p>
</div>
